body{
    font-family: 'Lato', sans-serif;
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    color: #000000;
}
.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.site-header{
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
}
.barra{
    justify-content: center;
}
.navegacion{
  text-align: center;
  padding: 20px;
}
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.3s;
}
.navegacion a:last-of-type{
    margin: 0;
}
.navegacion a:hover{
    transform: scale(1.2);
    color:  #1c3b53;
}

/* Formulario */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contenido-centrado {
    max-width: 800px;
    text-align: justify;
}
.central-texto{
    margin-top: 40px;
    text-align: center;
    font-weight: 300;
}
/* botones */
.btn{
    font-size: 25px;
    margin: 20px 20px 0 0;
    padding: 8px;
    color: #ffffff;
    width: 100px;
    border-radius: 4px;
    border: none;
    transition: 0.3s;
}
.btn-primario{
    background-color: #304352;
}
.btn-primario:hover{
    transform: scale(1.1);
}
.btn-secundario{
    background-color: #3b4750;
}
.btn-secundario:hover{
    transform: scale(1.1);
}

/* Formulario */

form p{
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    text-transform: uppercase;
}
legend{
    font-size: 2rem;
    color: #1c3b53;
    font-weight: 300;
}
label{
    color: #000000;
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 8px;
}
input:not([type="submit"]):not([type="button"]):not([type="radio"]),
select{
    padding: 13px;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem; 
    font-size: 15px;
}
.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
}